@model Hotelbooking.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalprice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
